[package]
name = "uvm-install2"
version = "0.4.0"
authors = ["Manfred Endres <manfred.endres@tslarusso.de>"]
description = "A unity3d installer"
repository = "https://github.com/Larusso/unity-version-manager"
readme = "README.md"
keywords = ["unity","version-manager"]
categories = ["development-tools"]
license = "Apache-2.0"
edition = "2018"

[dependencies]
clap = {version = "2.33.0", features = ["suggestions", "color"]}
console = "0.9.0"
error-chain = "0.12.0"
flexi_logger = "0.15.7"
indicatif = "0.12.0"
log = "0.4.5"
dirs-2 = "1.1.0"
uvm_core = { path = "../../uvm_core", version = "0.8.0" }
uvm_install_graph = { path = "../../uvm_install_graph", version = "0.3.0" }

uvm_install_core = {path = "../uvm_install_core", version = "0.3.0" }

[dev-dependencies]
tempfile = "3.1.0"
test-env-log = "0.1.1"
env_logger = "0.7"
